.formOut{
  position: absolute;
  margin: 10px 10px 0 0;
  right: 0;
  width:20%;
  height: auto;
  background: #E5E5E5;
  opacity: 1;
  text-align: center;
  border: 1px solid #A6A5A5;
}
.fOut{
  color:black;
  font-family: $ff-main;
}
span.fOut{
  display: block;
  margin-left: 4%;
  width:90%;
  font-size: 2.5rem;
  padding: 10px 0;
}
p.fOut{
  width: 80%;
  font-size:1.3rem;
  text-align: left;
  margin: 0 10%;
}
.name{
  display: block;
  Width:80%;
  margin:15px 10%;
  height: 40px;
  border-radius: 5px;
}
.phone{
  display: block;
  width: 80%;
  height: 40px;
  margin:15px 10%;
  border-radius: 5px;
}
.dsc{
  display: block;
  height: 120px;
  width:80%;
  margin: 15px 10%;


}
.federal{
  display: block;
  width:90%;
  text-align: left;
  margin: 10px 10px 0 30px;
  font-size: 1rem;
  color: #888888;
}
#checkBtn{
  width:50%;
  height: 50px;
  font-size: 1.3rem;
  background: grey;
  color:white;
  margin: 15px 0 15px 0;
  border-radius: 25px;

}
#checkBtn:focus{
  outline: none;
}

.check{
  display: block;
  position: relative;
}
#checkIt{
  display: block;
  position: absolute;
  left: 8px;
  top: 5px;
  transform: scale(1.5);

}