.header{

  &__flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: #FFF;
    padding: 0 10px;
   &__text{
     margin-right: 130px;
     font-family: $ff-main-bold;
     text-align: center;
     font-size: 2.5rem;
     color: black;
     width: auto;
   }
  }
  hr{
    margin: 0;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
  }

}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 10px 0;
  background: linear-gradient(to top,#EA779A,#fff);

}
.btn{
  display: none;
  position: relative;
  z-index: 9998;
  margin-left:25px;
  padding:0;
  text-decoration: none;
  color:#888888;

}
.btn:active{
  color: #E76F97;
}

