.aside__menu{
  position: absolute;
  width:20%;
  font-family: $ff-main;
  text-align: center;
  margin: 10px 0 0 10px;
  opacity: 0.6;
  height: auto;
}

.aside__menu>div{
  background: gainsboro;
  border: 1px solid black;
}
a{
  text-decoration: none;
}
#second_aside{
  display: none;
  background-color: #EA779A;
  border-top: 2px solid black;
}
h3.first{
  padding:10px 10px;
  color: black;
  font-size: 1.3rem;
}

h3.first:hover{
  color:white;
  background-color: #505050;
}
p.second{
  color:black;
  padding:10px 0;
  font-size: 1.25rem;
}
p.second:hover{
  color:white;
  background: black;
  font-family: $ff-main-italic;
}
