.nav{
  @include centerer-x();
  margin: 0;
  display: flex;
  align-content: space-around;
  flex-wrap: nowrap;
  align-items: center;


  &__link {
    padding: 0 30px;
    font-family: $ff-main;
    font-size: 1.5rem;
    color: #888888;
    text-decoration: none;
    white-space: nowrap;


    &:hover,
    &--active {
      color: darken(#888888,80%);
    }
  }
}