section.about#runAbout
    .containerAbout
      h2  О компании
      .companyDsc
        .firstDsc
          h3 О нас
          p.
            Клининговая компания «ЛОТОС» - молодая, перспективная и динамично развивающаяся компания!
            Оказываем услуги по уборке любой сложности. В своей работе мы используем только экологически
            безопасные средства и передовое оборудование. Каждый наш сотрудник проходит специальное обучение
            и все работы выполняются под контролем куратора.
        .secondDsc
          h3 Наш Девиз
          p Гарантия качества и индивидуальный подход к каждому клиенту. К выполнению каждой задачи мы готовимся заранее, качественно и ответственно выполняя её.
          br
          p Мы совершенствуем свои навыки каждый день, развиваемся и осваиваем новые технологии уборки.
        .thirdDsc
          h3 Наша Цель
          p.
            Cнять все хлопоты с заказчика, связанные с поддержанием чистоты и порядка,
            тем самым максимально сэкономить ваше время. У нас приятные цены и гибкая система скидок.
          br
          p Компания «ЛОТОС» подарит вам чистоту, порядок и гармонию!