footer.footers
  hr
  .footer
    .footer__menu
      ul
        ins Услуги
        li
          a(href='#') Уборка квартир и офисов
        li
          a(href='#') Химчистка
        li
          a(href='#') Мойка окон и стеклянных фасадов
        li
          a(href='#') Чистка линолеума
        li
          a(href='#') Уборка территории
        li
          a(href='#') Благоустройсто и озеленение
        li
          a(href='#') Вывоз мусора / снега
        li
          a(href='#') Чистка жалюзи
        li
          a(href='#') Дератизация
        li
          a(href='#') Мелкий ремонт
        li
          a(href='#') Электромонтажные работы
        li
          a(href='#') Сантехнические работы
    .footer__nav
      ul
        ins Меню
        li
          a.footer__link(href='#runMain') Главная
        li
          a.footer__link(href='#runBest') Наши преймущества
        li
          a.footer__link(href='#runAbout') О компании
        li
          a.footer__link(href='#runActions') Акции
        li
          a.footer__link(href='#runOurService') Наши услуги
    .copyright
      p &copy Клининговая компания "ЛОТОС",2000-2018.
    include contact
    include icons