header.header
  .container
    .logo: img.logo__picture(src="images/icons/logo.png")
    .nav
      h1.nav__text Гарантия качества и индивидуальный подход к каждому клиенту
      include nav
    include contact

