header.header
  .header__flex
    .logo: img.logo__picture(src="images/icons/logo.png" alt="Компания Лотос")
    span.header__flex__text Гарантия качества и индивидуальный подход к каждому клиенту
    include contact
  hr
  .menu
    a.btn(href="#")
      i.fas.fa-bars.fa-2x(aria-hidden="true")

    include nav
    include icons

