.icons
  a.icon__vk(href="https://vk.com/club168294310" target="_bank")
    i.fab.fa-vk.fa-2x(aria-hidden="true")
  a.icon__viber(href="viber://chat?number=+79535040340" target="_bank")
    i.fab.fa-viber.fa-2x(aria-hidden="true")
  a.icon__fb(href="#" target="_bank")
    i.fab.fa-facebook.fa-2x(aria-hidden="true")