div.aside__menu
  div.first_aside
    a(href="#")
      h3.first Уборка квартир/офисов
      div#second_aside
        a(href="#")
          p.second генеральная
      div#second_aside
        a(href="#")
          p.second после ремонта
      div#second_aside
        a(href="#")
          p.second после пожара / затопления
      div#second_aside
        a(href="#")
          p.second поддерживающая
      div#second_aside
        a(href="#")
          p.second устранение и предотвращение плесени
  div.first_aside
    a(href="#")
      h3.first Химчистка
      div#second_aside
        a(href="#")
          p.second мебели
      div#second_aside
        a(href="#")
          p.second ковров / ковровых покрытий
  div.first_aside
    a(href="#")
      h3.first Мойка окон и стеклянных фасадов
  div.first_aside
    a(href="#")
      h3.first Чистка линолеума
  div.first_aside
    a(href="#")
      h3.first Уборка территории
  div.first_aside
    a(href="#")
      h3.first Благоустройсто и озеленение
  div.first_aside
    a(href="#")
      h3.first Вывоз мусора / снега
  div.first_aside
    a(href="#")
      h3.first Чистка жалюзи
  div.first_aside
    a(href="#")
      h3.first Дератизация
  div.first_aside
    a(href="#")
      h3.first Мелкий ремонт
  div.first_aside
    a(href="#")
      h3.first Электромонтажные работы
  div.first_aside
    a(href="#")
      h3.first Сантехнические работы