div.form-container.is-hidden
  a.btnClose(href="#")
    i.fas.fa-times.fa-3x(aria-hidden="true")
  ul.first__menu
    li
      a(href="#") Уборка квартир/офисов
      ul.second__menu
        li: a(href="#") — генеральная
        li: a(href="#") — после ремонта
        li: a(href="#") — после пожара/затопления
        li: a(href="#") — поддеерживающая
        li: a(href="#") устранение и предотвращение плесени
    li
      a(href="#") Химчистка
      ul.second__menu
        li: a(href="#") — мебели
        li: a(href="#") — ковров/ковровых покрытий
    li: a(href="#") Мойка окон и стеклянных фасадов
    li: a(href="#") Чистка линолеума
    li: a(href="#") Уборка территории
    li: a(href="#") Благоустройсто и озеленение
    li: a(href="#") Вывоз мусора/снега
    li: a(href="#") Чистка жалюзи
    li: a(href="#") Дератизация
    li: a(href="#") Мелкий ремонт
    li: a(href="#") Электромонтажные работы
    li: a(href="#") Сантехнические работы