nav.nav
  -var items =['Главная','О компании','Наши услуги','Прайс-лист']
  each item in items
    if item === 'Главная'
      a.nav__link.nav__link--active(href='#')= item
    else
      a.nav__link(href='#')=item