nav.nav__main
  -var items =['Главная','О компании','Наши услуги','Прайс-лист']
  each item in items
    if item==='Главная'
      a.nav__main__link.nav__main__link--active(href='#')=item
    else
      a.nav__main__link(href='#')=item