section.ourBest#runBest
  .heroCont
    h2 Наши преймущества
    ul.cardList
      li
        .icon.icon-personal
        h3.our Обученный квалифицированный персонал
      li
        .icon.icon-time
        h3.our Работаем в удобное для вас время
      li
        .icon.icon-chemical
        h3.our Профессиональные и безопасные химические средства
      li
        .icon.icon-spec
        h3.our Бесплатный осмотр объекта специалистом
      li
        .icon.icon-calc
        h3.our Прозрачный расчёт стоимости
      li
        .icon.icon-sale
        h3 Бонусная система скидок