section.ourService#runOurService
  .containerService
    h2 Наши услуги
    .ourService__mainbox
      .ourService__leftbox
        .firstDiv
          a(href="#")
            h3#imp-one Уборка квартир/офисов
        .secondDiv
          a(href="#")
            h3 Химчистка
        .thirdDiv
          a(href="#")
            h3#imp Мойка окон и стеклянных фасадов
        .fourthDiv
          a(href="#")
            h3 Чистка линолеума
        .fifthDiv
          a(href="#")
            h3 Уборка территории
        .sixthDiv
          a(href="#")
            h3#imp-two Благоустройсто и озеленение
      .ourService__rightbox
        .seventhDiv
          a(href="#")
            h3 Вывоз мусора/снега
        .eighthDiv
          a(href="#")
            h3 Чистка жалюзи
        .ninthDiv
          a(href="#")
            h3 Дератизация
        .tenthDiv
          a(href="#")
            h3 Мелкий ремонт
        .eleventhDiv
          a(href="#")
            h3#imp-three Электромонтажные работы
        .twelveDiv
          a(href="#")
            h3#imp-four Сантехнические работы
