section.ourWorks#runOurWorks
  .containerWorks
    h2  Наши работы
    #gallery
      figure#spinner
        img.spinimage(src='images/gallery1.jpg' alt='1')
        img.spinimage(src='images/gallery2.jpg' alt='2')
        img.spinimage(src='images/gallery3.jpg' alt='3')
        img.spinimage(src='images/gallery4.jpg' alt='4')
        img.spinimage(src='images/gallery5.jpg' alt='5')
        img.spinimage(src='images/gallery6.jpg' alt='6')
      a#leftclick(href="")
        p <
      a#rightclick(href="")
        p >